version: '3.2'

services:
  phoenix-queryserver-1:
    image: bde2020/phoenix-queryserver:1.0.0-hbase2.0.2
    networks:
    - hbase
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      restart_policy:
        condition: on-failure
      placement:
        constraints:
        - node.hostname == akswnc4.aksw.uni-leipzig.de

  phoenix-queryserver-2:
    image: bde2020/phoenix-queryserver:1.0.0-hbase2.0.2
    networks:
    - hbase
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      restart_policy:
        condition: on-failure
      placement:
        constraints:
        - node.hostname == akswnc5.aksw.uni-leipzig.de


  phoenix-queryserver-3:
    image: bde2020/phoenix-queryserver:1.0.0-hbase2.0.2
    networks:
    - hbase
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      restart_policy:
        condition: on-failure
      placement:
        constraints:
        - node.hostname == akswnc6.aksw.uni-leipzig.de

networks:
  hbase:
    external:
      name: hbase
